{% extends 'base.html.twig' %}

{% block title %}{{ event.name }}{% endblock %}

{% block body %}

<section id="general_page" class="home2-blog-area">
    <div class="container margin_60_35">
        <div class="row">

            <div class="col-lg-9" id="faq">

                {% if event.videoId %}

                        <iframe id="ytplayer" type="text/html" width="100%" height="500px" src="http://www.youtube.com/embed/{{ event.videoId }}?autoplay=1&origin=http://example.com" frameborder="0"/>

                {% endif %}

                <div class="main_title_3 add_top_30">
                    <span><em></em></span>
                    <h2>Du {{ event.startAt|date('d/m/Y') }} au {{ event.EndAt|date('d/m/Y') }}</h2>
                    <p>De {{ event.heureDebut|date('H:i') }} à {{ event.heureFin|date('H:i') }} </p>
                </div>

                <div>
                    {{ event.description|raw }}
                </div>

                <div class="pt-3">
                    {% if event.link %}
                        <a href="{{ event.link }}" class="btn btn-primary">Participer à l'événement</a>
                    {% endif %}
                </div>

            </div>

        </div>
        <!-- /row -->
    </div>
    <!--/container-->
</section>

{% endblock %}
