{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Accueil {% endblock %}

{% block body %}

<!-- Home section -->

{{ include('questionnaire/_test_eligibilite_section.html.twig') }}

<!-- START ABOUT US -->
<section class="about_us section-padding" style="padding-bottom: 0px;">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-5 col-sm-12 col-xs-12 d-none d-sm-block" style="height: 400px;">
                <div class="about_img" style="background-image: url('{{ asset('themes/front/img/core/0.jpeg') }}'); background-repeat: no-repeat; border-radius: 20px; background-size: cover; background-position: center; width: 100%; height: 100%; position: relative; bottom: 0; left: 0">   
                </div>                  
            </div><!--- END COL -->

            <div class="col-lg-7 col-sm-12 col-xs-12">
                <div class="about-content">                     
                    <div class="section-title text-left">   
                        <h2 style="">A propos</h2>   
                    </div>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse</p>
                    <a href="#" class="btn btn-primary">Vérifier votre éligibilité  <i class="ti-arrow-right"></i></a>                                  
                </div>
            </div><!--- END COL -->         

        </div><!--- END ROW -->     
    </div><!--- END CONTAINER -->
</section>
<!-- END ABOUT US -->

<!-- Comment reduire impôt section -->
<section class="blog-content-section d-none d-sm-block bg-white section-padding">
    <h2 class="text-center p-4">Comment réduire ses impôts en 2022 ?</h2>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="blog-posts">
                    <div class="blog-single-post">
                        <div class="bixol-img-wrapper">
                            <a href="blog-details.html"><img src="{{ asset('themes/front/img/core/1.jpeg') }}" height="300" alt=""></a>
                        </div>
                        <div class="bixol-blog-content">
                            <!--<a href="blog.html" class="bixol-category">Plumbing</a>-->
                            <div class="bixol-blog-headline">
                                <a href="blog-details.html"><h5>Globalement, il existe deux stratégies pour réduire ses impôts : investir dans des dispositifs de défiscalisation et optimiser sa fiscalité.</h5></a>
                            </div>
                            <div class="bixol-blog-pera">
                                <p>Pour diminuer vos impôts sans investir :</p>
                                <ul>
                                    <li><strong>Réduisez votre revenu net imposable</strong> en déclarant vos charges comme les pensions alimentaires que vous versez, ou vos travaux de rénovation. Vous avez également tout intérêt à bien déclarer votre situation personnelle à l'administration fiscale. En effet, des abattements fiscaux s'appliquent si vous hébergez une personne âgée (plus de 75 ans) ou dépendante. </li>
                                    <li><strong>Choisissez judicieusement votre taux de prélèvement à la source :</strong> vous avez le choix entre les taux personnalisé, individuel et neutre. Il existe un taux plus avantageux que les autres, en fonction de votre situation. </li>
                                    <li><strong>Déclarez vos crédits d'impôts :</strong>plusieurs de vos dépenses courantes vous donnent peut-être accès à des crédits ou déductions d'impôts : prestations de ménage, de garde d'enfants, ou encore dons à des associations. </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="blog-single-post">
                        <div class="bixol-blog-content">
                            <!--<a href="blog.html" class="bixol-category">Reduct</a>-->
                            <div class="bixol-blog-headline">
                                <a href="blog-details.html"><h5>Ces astuces sont toutefois limitées en termes d'impact sur votre imposition. Les solutions les plus efficaces pour réduire vos impôts de manière significative sont les investissements:</h5></a>
                            </div>
                            <div class="bixol-blog-pera">
                                <ul>
                                    <li>Dans des dispositifs immobiliers : loi Malraux & Monuments historiques, loi Pinel & Denormandie, loi LMNP, etc </li>
                                    <li>Dans des sociétés françaises : FCPI, FIP, Girardin Industriel, etc.</li>
                                    <li>Dans des placements d'épargne prévoyance : PER, assurance vie, etc.</li>
                                </ul>
                            </div>
                                <!--<div class="bixol-blog-btn">
                                    <a href="blog-details.html" class="bixol-primary-btn"> Lire plus <span><i class="fas fa-plus"></i></span></a>
                                </div>-->
                            </div>
                            <div class="bixol-img-wrapper pt-4 pb-4">
                                <a href="blog-details.html"><img src="{{ asset('themes/front/img/core/0.jpeg') }}" height="300" alt=""></a>
                                <!--<div class="bixol-blog-date">
                                    <span>10 AUG</span>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Comment reduire les impots -->

    <!-- Testimonail Section -->
    <section class="abv2-feedback-section section-padding bg-light">
        <div class="container">
            <div class="abv2-feedback-right justify-content-center">
                <div class="title-style-2 text-center">
                    <h2>Ils parlent de nous</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor</p>
                </div>
            </div>
            <div class="abv2-feedback-wrapper">
                <div class="row">
                    <div class="col-md-4 mx-auto">
                        <div class="single-item">
                            <span class="quote-icon">,,</span>
                            <div class="clients-info">
                                <div class="img-wrapper">
                                    <span class="client-thumb"><img src="assets/images/about/client-1.jpg" alt=""></span>
                                </div>
                                <div class="client-content">
                                    <h6>Alina Lora</h6>
                                    <p>5 stars for design quality, but also for prompt new customer service and great attension to details work.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single-item">
                            <span class="quote-icon">,,</span>
                            <div class="clients-info">
                                <div class="img-wrapper">
                                    <span class="client-thumb"><img src="assets/images/about/client-1.jpg" alt=""></span>
                                </div>
                                <div class="client-content">
                                    <h6>Alina Lora</h6>
                                    <p>5 stars for design quality, but also for prompt new customer service and great attension to details work.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="single-item">
                            <span class="quote-icon">,,</span>
                            <div class="clients-info">
                                <div class="img-wrapper">
                                    <span class="client-thumb"><img src="assets/images/about/client-1.jpg" alt=""></span>
                                </div>
                                <div class="client-content">
                                    <h6>Alina Lora</h6>
                                    <p>5 stars for design quality, but also for prompt new customer service and great attension to details work.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single-item">
                            <span class="quote-icon">,,</span>
                            <div class="clients-info">
                                <div class="img-wrapper">
                                    <span class="client-thumb"><img src="assets/images/about/client-1.jpg" alt=""></span>
                                </div>
                                <div class="client-content">
                                    <h6>Alina Lora</h6>
                                    <p>5 stars for design quality, but also for prompt new customer service and great attension to details work.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="single-item">
                            <span class="quote-icon">,,</span>
                            <div class="clients-info">
                                <div class="img-wrapper">
                                    <span class="client-thumb"><img src="assets/images/about/client-1.jpg" alt=""></span>
                                </div>
                                <div class="client-content">
                                    <h6>Alina Lora</h6>
                                    <p>5 stars for design quality, but also for prompt new customer service and great attension to details work.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single-item">
                            <span class="quote-icon">,,</span>
                            <div class="clients-info">
                                <div class="img-wrapper">
                                    <span class="client-thumb"><img src="assets/images/about/client-1.jpg" alt=""></span>
                                </div>
                                <div class="client-content">
                                    <h6>Alina Lora</h6>
                                    <p>5 stars for design quality, but also for prompt new customer service and great attension to details work.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Testimonail Section End -->

    <!-- Blog Area -->
    <section class="home2-blog-area section-padding">
        <div class="container">
            <div class="blog-top-title">
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="bixol-title-area">
                            <h2>Découvrez nos articles documentés <br>pour répondre à toutes vos questions</span></h2>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="bf-desc">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home2-blog-slider">
                <div class="row">
                    {% for post in lastposts() %}

                    <div class="col-md-3">
                        {{ include('blog/_bloc_post.html.twig') }}
                    </div>

                    {% else %}

                    <div class="col-12"><p>Aucune news pour l'instant</p></div>

                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Area End -->

    <!-- faq section -->
    <section class="faq-section section-padding">
        <h2 class="text-center mb-3">Questions fréquentes (FAQ)</h2>
        <div class="container">

            <div class="row">
                <div class="col-lg-10 mx-auto" id="faq">

                    <div class="faq-content border-dark p-4 rounded">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#defiscalisation"><h4 class="nomargin_top">Défiscalisation</h4></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#expert-impots"><h4>Expert Impôts</h4></a>
                            </li>
                        </ul>

                        <div class="tab-content mt-4">

                            <div class="tab-pane container active" id="defiscalisation">

                                <div role="tablist" class="add_bottom_45 accordion_2" id="section_1">
                                    <div class="card">
                                        <div class="card-header" role="tab">
                                            <h5 class="mb-0">
                                                <a data-toggle="collapse" href="#collapseOne_section_1" aria-expanded="true"><i class="indicator ti-plus"></i>Comment fonctionne la défiscalisation ? </a>
                                            </h5>
                                        </div>

                                        <div id="collapseOne_section_1" class="collapse " role="tabpanel" data-parent="#section_1"><!-- show -->
                                            <div class="card-body">
                                                <p>

                                                Pour savoir comment fonctionne la défiscalisation, il convient de bien comprendre ce que l'on entend par “défiscaliser”. Lorsqu'on parle de défiscalisation, on fait référence à l'ensemble des stratégies qu'il est possible de mettre en place pour réduire ses impôts, voire bénéficier d'une exonération d'impôts. Bien entendu, ces actions d'optimisation fiscale sont à ne pas confondre avec l'évasion fiscale. Elles reposent sur des législations en vigueur et pensées pour permettre aux contribuables d'orienter leurs investissements dans des secteur clés pour le service public, en échange d'une baisse d'impôts.</p>

                                                <p>

                                                    Vous l'aurez compris, pour défiscaliser, il faut s'intéresser aux lois de défiscalisation mises en place. Ces dernières concernent souvent le secteur de l'immobilier (achats d'investissement locatif principalement : Pinel, Denormandie, Loueur Meublé Non Professionnel). Mais d'autres secteurs sont éligibles à la défiscalisation. Comme les placements financiers (assurance vie, Plan Épargne Retraite,...) ou encore le financement d'entreprises (Fonds Commun de Placement dans l'Innovation, Fonds d'Investissement de Proximité). En échange de leurs investissements dans ces chantiers prioritaires pour l'État , ces dispositifs offrent un avantage fiscal. Il peut s'agir d'une déduction de charges à appliquer sur vos impôts fonciers, ou encore d'une réduction de votre impôt sur le revenu ; qui est le cas le plus courant.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /card -->
                                    <div class="card">
                                        <div class="card-header" role="tab">
                                            <h5 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" href="#collapseTwo_section_1" aria-expanded="false">
                                                    <i class="indicator ti-plus"></i>Défiscalisation immobilière : que faut-il savoir ? 
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapseTwo_section_1" class="collapse" role="tabpanel" data-parent="#section_1">
                                            <div class="card-body">
                                                <p>

                                                    Vous vous demandez comment défiscaliser dans l'immobilier ? Il existe justement des dispositifs de défiscalisation immobilière, pensés spécifiquement pour allier investissement immobilier (souvent locatif) et optimisation fiscale. Pour défiscaliser dans l'immobilier, voici les différentes approches :

                                                    <ul>
                                                        <li><strong>L'investissement locatif</strong> : vous achetez un bien pour le louer, en respectant les conditions propres à chaque dispositif. On peut citer : la durée de location, le plafond des ressources du locataire ou du loyer, l'emplacement du bien, ses équipements,... Vous avez le choix entre Pinel, Denormandie, Cosse, LMNP/LMP ou Censi-Bouvard (edit : dispositif non reconduit depuis le 31/12/2021). Ces dispositifs de défiscalisation peuvent s'appliquer à des biens neufs et/ou anciens. </li>
                                                        <li><strong>L'investissement dans le patrimoine architectural français</strong> : vous effectuez des travaux de restauration dans un bien d'exception. La loi Malraux et la loi Monuments historiques vous permettent ensuite de déduire une partie des frais de rénovation de vos impôts. Dans le cas de la loi Malraux, les travaux doivent avoir pour objectif la remise en état du bâtiment pour qu'il accueille une location. Des critères géographiques sont aussi à prendre en compte (Quartier Ancien Dégradé, etc). La loi Monuments historiques, comme son nom l'indique, vise quant à elle des bâtiments d'exception. </li>
                                                    </ul>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /card -->
                                    <div class="card">
                                        <div class="card-header" role="tab">
                                            <h5 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" href="#collapseThree_section_1" aria-expanded="false">
                                                    <i class="indicator ti-plus"></i>Comment trouver le meilleur conseil fiscal ?
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapseThree_section_1" class="collapse" role="tabpanel" data-parent="#section_1">
                                            <div class="card-body">
                                                <p>

                                                    Le conseil fiscal est l'activité qui consiste à apporter une prestation de conseil et parfois de réalisation de démarches administratives, en matière fiscale. Cela peut englober : l'accomplissement de vos obligations fiscales (la déclaration d'impôts, de certains événements ou évolutions de votre situation personnelle ou professionnelle), l'optimisation de votre fiscalité, la représentation auprès des administrations fiscales. <br>

                                                    Chaque conseiller fiscal (ou fiscaliste) peut ensuite se spécialiser dans certains domaines de la fiscalité : fiscalité pour les particuliers, fiscalité d'entreprise, contentieux, contrats, donation et succession, etc. Afin de vous orienter vers un professionnel qui saura vous accompagner dans vos projets, il convient de faire un travail d'analyse de vos besoins. Si vous cherchez à optimiser votre fiscalité et réduire votre pression fiscale, alors profitez des services d'Expert Impôts ! À l'aide d'un test d'éligibilité simple et rapide, vous pouvez savoir en 2 minutes, si vous êtes éligible à des niches fiscales. Vous serez alors mis en relation gratuitement avec un professionnel des solutions de réductions d'impôts, qui vous proposera des recommandations personnalisées et sur mesure.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" role="tab">
                                            <h5 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" href="#collapseThore_section_1" aria-expanded="false">
                                                    <i class="indicator ti-plus"></i>Test d'éligibilité à la défiscalisation 2022 : comment l'utiliser ?
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapseThore_section_1" class="collapse" role="tabpanel" data-parent="#section_1">
                                            <div class="card-body">
                                                <p>



                                                    Expert Impôts est une plateforme qui vous met en relation avec des experts de la réduction d'impôts. Remplissez notre test d'éligibilité à la défiscalisation pour savoir si votre situation vous permet de bénéficier de nos services ! Cette étape est nécessaire car elle permet de nous assurer que notre accompagnement sera pertinent et adapté à votre fiscalité. En effet, les dispositifs de défiscalisation ne correspondent pas à toutes les situations, et sont optimaux dans certains cas seulement. Afin de rendre votre expérience la plus agréable possible, nous ne vous posons que des questions simples : situation personnelle et professionnelle, composition et revenus (nets avant prélèvement à la source) du foyer fiscal, etc. Et à partir de ces données, l'algorithme d'Expert Impôts se charge de tout ! Simulations, calculs, réductions d'impôts auxquelles vous pouvez prétendre, et enfin l'identification d'un de nos experts spécialistes dans ces solutions pour payer moins d'impôts. <br>

                                                    Une fois le test d'éligibilité à la défiscalisation rempli (et sous réserve d'éligibilité), vous serez ensuite recontacté gratuitement par un expert pour vous aider à mettre en place une stratégie de réduction de vos impôts . <br>

                                                    Notre test d'éligibilité est donc bien à utiliser comme un formulaire de contact, et non pas comme une simulation de défiscalisation.

                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /card -->
                                </div>

                            </div>

                            <div class="tab-pane container fade" id="expert-impots">
                                <div role="tablist" class="add_bottom_45 accordion_2" id="section_2">
                                    <div class="card">
                                        <div class="card-header" role="tab">
                                            <h5 class="mb-0">
                                                <a data-toggle="collapse" href="#collapseOne_section_2" aria-expanded="true"><i class="indicator ti-plus"></i>Qui sommes-nous ? </a>
                                            </h5>
                                        </div>

                                        <div id="collapseOne_section_2" class="collapse" role="tabpanel" data-parent="#section_2">
                                            <div class="card-body">
                                                <p>Expert Impôts est un service de mise en relation gratuite avec des experts pour vous aider à réduire vos impôts. Grâce à notre test d'éligibilité, vous pouvez savoir en 2 minutes si vous êtes éligible à des réductions d'impôts . Vous serez ensuite recontacté par un expert qui vous aidera à mettre en place une stratégie de défiscalisation. Pour en savoir plus, lisez la présentation d'Expert Impôts.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /card -->
                                    <div class="card">
                                        <div class="card-header" role="tab">
                                            <h5 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" href="#collapseTwo_section_2" aria-expanded="false">
                                                    <i class="indicator ti-plus"></i>À qui les services d'Expert Impôts s'adressent-ils ? 
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapseTwo_section_2" class="collapse" role="tabpanel" data-parent="#section_2">
                                            <div class="card-body">
                                                <p>Expert Impôts peut aider tous les actifs qui travaillent et paient leurs impôts en France à réduire leurs impôts. Certaines conditions sont toutefois à remplir, afin que les recommandations soient pertinentes. Votre imposition doit être supérieure à 2500€ par an et par foyer fiscal. De plus, nous sommes spécialisés dans les réductions d'impôts des particuliers, et non pas des professionnels (impôt sur les sociétés). </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /card -->
                                    <div class="card">
                                        <div class="card-header" role="tab">
                                            <h5 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" href="#collapseThree_section_2" aria-expanded="false">
                                                    <i class="indicator ti-plus"></i>Comment bénéficier des services d'Expert Impôts ? 
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapseThree_section_2" class="collapse" role="tabpanel" data-parent="#section_2">
                                            <div class="card-body">
                                                <p>Pour être accompagné par un expert et réduire vos impôts, nous avons tout d'abord besoin de vérifier votre éligibilité aux dispositifs de défiscalisation . Vous pouvez le faire en 2 minutes à l'aide de notre test d'éligibilité à la défiscalisation. Par la suite, vous serez recontacté en 24 à 48h par un expert qui vous fournira des recommandations sur-mesure et sans engagement.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /card -->
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <!-- /col -->
            </div>
            <!-- /row -->
        </div>
    </section>
    <!-- faq section -->

    {% endblock %}
