
<footer id="rs-footer" class="rs-footer style1 footer-home5-style">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12 md-mb-10">
                    <div class="mb-40 mb-5">
                        <a href="{{ path('app_home') }}"><img src="{{ asset('img/logo.png') }}" alt="{{ appName }} Logo" class="img-fluid"></a>
                    </div>
                    <div class="textwidget white-color pb-40"><p></p>
                    </div>
                    <ul class="footer-social md-mb-30">  
                        <li> 
                            <a href="#" target="_blank"><span><i class="fa fa-facebook"></i></span></a> 
                        </li>
                        <li> 
                            <a href="# " target="_blank"><span><i class="fa fa-twitter"></i></span></a> 
                        </li>

                        <li> 
                            <a href="# " target="_blank"><span><i class="fa fa-pinterest-p"></i></span></a> 
                        </li>
                        <li> 
                            <a href="# " target="_blank"><span><i class="fa fa-instagram"></i></span></a> 
                        </li>

                    </ul>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 md-mb-10 pl-55 md-pl-15">
                    <h3 class="footer-title">Menu</h3>
                    <ul class="site-map">
                        <li><a href="{{ path('test_eligibilite') }}">Test d'éligibilité</a></li>
                        <li><a href="tax-strategy.html">Défiscaliser</a></li>
                        <li><a href="{{ path('test_eligibilite') }}">Réduire vos impôts</a></li>
                        <li><a href="{{ path('app_blog') }}">S'informer</a></li>
                        <li><a href="{{ path('app_evenements') }}">Evénements</a></li>
                        <li><a href="{{ path('pages_contact') }}">Contact</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 md-mb-10">
                    <h3 class="footer-title">Contact Info</h3>
                    <ul class="site-map">
                        <li>
                            <div class="desc">Ta-134/A, Gulshan Badda<br>
                            Link Rd, Dhaka</div>
                        </li>
                        <li>
                            <div class="desc">
                                <a href="tel:(+880)15569569365">(+880)155 69569 365</a>
                            </div>
                        </li>
                        <li>
                            <div class="desc">
                                <a href="mailto:support@rstheme.com">support@rstheme.com</a>
                            </div>
                        </li>
                        <li>
                            <div class="desc">
                                Office Hours: 8AM - 11PM  
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">                    
            <div class="row y-middle">
                <div class="col-lg-8 md-mb-10 text-lg-end text-left order-last">
                    <ul class="copy-right-menu">
                        <li><a href="{{ path('test_eligibilite') }}">Test d'éligibilité</a></li>
                        <li><a href="">Défiscaliser</a></li>
                        <li><a href="{{ path('test_eligibilite') }}">Réduire vos impôts</a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <div class="copyright text-lg-start text-left ">
                        <p>© 2022 {{ appName }}. Tout Droits Reservés.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>