<h1>{{ appName }}</h1>

<p>Destinataire: <a href="mailto: {{ useremail }}">{{ useremail }}</a></p>

<p>Nom: <strong>{{ questionnaire.nom }}</strong></p>
<p>Prénom: <strong>{{ questionnaire.prenom }}</strong></p>
    
<p>Sujet: Se faire rappeler gratuitement</p>

<table class="table table-hover table-bordered m-0" style="width: 100%;text-align: left;">
	<tbody>
		<tr>
			<th>Id</th>
			<td>{{ questionnaire.id }}</td>
		</tr>
		<tr>
			<th>Situation Matrimoniale</th>
			<td>{{ questionnaire.sitMatrimoniale }}</td>
		</tr>
		<tr>
			<th>Âge</th>
			<td>{{ questionnaire.age }}</td>
		</tr>
		<tr>
			<th>Nombre d'enfants à charge</th>
			<td>{{ questionnaire.nbrEnfantsCharge }}</td>
		</tr>
		<tr>
			<th>Situation de Logement</th>
			<td>{{ questionnaire.sitLogement }}</td>
		</tr>
		<tr>
			<th>Activité</th>
			<td>{{ questionnaire.activite }}</td>
		</tr>
		<tr>
			<th>Revenus Net Mensuels</th>
			<td>{{ questionnaire.revNetMensuels }}</td>
		</tr>
		<tr>
			<th>Prénom</th>
			<td>{{ questionnaire.prenom }}</td>
		</tr>
		<tr>
			<th>Nom</th>
			<td>{{ questionnaire.nom }}</td>
		</tr>
		<tr>
			<th>Email</th>
			<td>{{ questionnaire.email }}</td>
		</tr>
		<tr>
			<th>Code Postal</th>
			<td>{{ questionnaire.codePostal }}</td>
		</tr>
		<tr>
			<th>Teééphone</th>
			<td>{{ questionnaire.telephone }}</td>
		</tr>
		<tr>
			<th>Date</th>
			<td>{{ questionnaire.created ? questionnaire.created|date('d/m/Y') : '' }}</td>
		</tr>
	</tbody>
</table>